:root {
  --color: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0/0.8);
}
body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
}
.hero::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/wedding2.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}
.hero h1,
.hero h2,
.hero h4,
.hero p {
  color: var(--bg);
}
.hero h1 {
  font-family: "Satisfy", cursive;
  font-size: 8rem;
  color: var(--color);
  text-shadow: var(--shadow);
}
.hero h2 {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  color: var(--color);
  text-shadow: var(--shadow);
  padding-bottom: 10px;
}
.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--color);
  background-color: white;
  box-shadow: var(--shadow);
}
.hero a:hover {
  background-color: var(--color);
  color: white;
}
.mynavbar {
  background-color: var(--bg)!important;
}
.mynavbar .navbar-brand {
  font-family: "Satisfy", cursive;
  font-size: 2.6rem;
  color: var(--color);
}
.mynavbar .nav-link {
  text-transform: uppercase;
  color: var(--color);
}

.mynavbar .nav-link:hover {
  color: white;
  
}

.home,

.story{
  background-image: url(img/bg-navbar-pink.png);
  background-size: cover;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 8rem;
}
.gallery, .gift {
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.info {
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: var(--bg);
}
.info h2 {
  font-family: "Satisfy", cursive;
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 5px;
  color: var(--color);

}
.home h2,
.gift h2,
.story h2,
.gallery h2 {
  font-family: "Satisfy", cursive;
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 5px;
}
.reservasi h2 {
  color: var(--color);
  font-family: "Satisfy", cursive;
  font-size: 5rem;
  font-weight: bold;
  padding-bottom: 5px;
}
.home h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.home p {
  font-size: 1.1rem;
}
.home .couple {
  margin-top: 100px;
}
.home .couple h3 {
  font-family: "Satisfy", cursive;
  font-size: 2.4rem;
}
.home .couple img {
  width: 100%;
}
.home .heart {
  width: 5px;
  height: 5px;
  display: flex;
  position: absolute;
  right: 50%;
  transform: translateX(-50%) translateY(50px);
  font-size: 3rem;
  color: var(--color);
}
.home .heart i {
  margin: auto;
}
.info .alamat {
  font-size: 1.1rem;
  color: #fff;
}

.info .deskripsi {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
}
.info .card {
  /* background-color: rgba(255, 255, 255, 0.2) !important; */
  border: 1px solid #999;
  color: #fff;
  background-image: url(img/bg-navbar-pink.png);

}
.info .card-header {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.info .card-body {
  font-size: 1rem;
}
.info .card-footer {
  border-bottom: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 400;
}

.story span,
.gallery span,
.gift span {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  display: block;
}

.story p,
.gallery p,
.gift p {
  font-size: 1rem;
  font-weight: 300;
}
.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}
.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: rgba(000, 000, 000, 0.2);
  left: 50%;
}
.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}
.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}
.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #000;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 25px;
}
.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 2px solid black;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  /* background-image: url(img/bg-navbar-pink.png); */
}
.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid black;
  border-right: 0 solid black;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}
.timeline li .timeline-panel::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}
.timeline li.timeline-right .timeline-panel {
  float: right;
}
.timeline li.timeline-right .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline li.timeline-right .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.reservasi {
  min-height: 100vh;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--bg);
}
.reservasi p {
  color: white;
  font-size: 1rem;
  font-weight: 300;
}
.reservasi form label {
  color: white;
}
.reservasi button {
  background-color: var(--color);
  color: white;
  border: 1px solid var(--color);
}
.reservasi button:hover {
  background-color: white;
  color: var(--color);
  border: 1px solid white;
}
footer {
  padding: 3rem;
  background-color: var(--bg);
  color: var(--color);
}
footer li {
  list-style: none;
}
footer a {
  color:var(--color);
}
footer a:hover {
  color:white;
}

.audio-icon{
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  color:var(--color);
  cursor: pointer;
  opacity: 50%;
  mix-blend-mode: difference;
  animation: discmuter 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
@keyframes discmuter {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
  
}
/*Media Query*/
/* Extra Large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}
/*Laptop*/
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
  .home .heart {
    display: none;
  }
  .timeline::before {
    left: 60px;
  }
  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }
  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }
  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/*Tablet*/
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}
/*HP*/
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 2.5px;
  }
  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }
  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-5px);
    margin-top: 10px;
  }
  .timeline li .timeline-panel::before {
    top: 50px;
  }
  .timeline li .timeline-panel::after {
    top: 51px;
  }
}
